.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

    #fora{
        padding: 10px;
        border-color: black;
        border-radius: 5px;
        border: 1px solid;

    }