body{
    background-color: rgb(82, 136, 136);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 100px;
}

h2{
    text-align: center;
}

p{
    font-size: 15px;
    line-height:30px;
    text-align: justify;
}

#txt01{
    color: bisque;
    text-align: right;
}

#txt02{
    background-color: rgba(96, 124, 69, 0.37);
    text-transform: uppercase;
}
img{
    height: 320px;
    width: 320px;
    border-radius: 320px;
    
}

